<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="fragments_new :: html_head"></head>
<body class="nav-fixed">
<nav th:insert="fragments_new :: topnav"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="fragments_new :: sidbar"></div>
    <div id="layoutSidenav_content">

        <main>
            <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                <div class="container-xl px-4">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto mb-3">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="bookmark"></i></div>
                                    Protokoll <span class="mdi mdi-arrow-right"></span> <span
                                        th:text="${protocol.getRequest_name()}"></span>
                                </h1>
                            </div>
                            <div class="col-12 col-xl-auto mb-3">
                                <a class="btn btn-sm btn-light text-primary" href="#" data-bs-toggle="modal"
                                   data-bs-target="#description">
                                    <i class="me-1" data-feather="edit"></i>
                                    Beschreibung bearbeiten
                                </a>
                                <a class="btn btn-sm btn-light text-primary" href="#" data-bs-toggle="modal"
                                   data-bs-target="#element">
                                    <i class="me-1" data-feather="plus"></i>
                                    Element anlegen
                                </a>
                                <a class="btn btn-sm btn-light text-primary" href="#" data-bs-toggle="modal"
                                   data-bs-target="#delete">
                                    <i class="me-1" data-feather="trash"></i>
                                    Löschen
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container px-4" id="load">
                <div class="card">
                    <div class="card-body text-center" >
                        <span class="spinner-border card-img" style="min-height: 200px; min-width: 200px;"></span>
                    </div>
                </div>
            </div>
            <div class="container-xl px-4 mt-5 d-none" id="content">

                <div class="card mb-4">
                    <div class="card-header">Beschreibung</div>
                    <div class="card-body">

                        <div class="description" id="description_text" th:text="${protocol.getDescription()}"></div>

                    </div>
                </div>
                <!-- Icon Card Example -->
                <div class="card card-header-actions mb-4" th:each="element:${protocol.getElements()}">

                    <div th:class="'card-header text-white ' + ${element.getColor_class()}">
                        <span th:text="${element.getHeadline()}"></span>
                        <div>
                            <a th:href="'/dc/protocol/remove?element=' +${element.getUUID()} + '&uuid=' + ${protocol.getUUID()}"
                               class="btn btn-white btn-icon mdi mdi-delete"></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="html" th:text="${element.getText()}"></div>
                    </div>
                </div>


                <div class="card mb-4">
                    <div class="card-header">Kommentare</div>

                    <div class="card-body">

                        <table class="table">

                            <tbody>

                            <tr th:each="comment:${protocol.getComments()}">

                                <td style="width: 250px">
                                    <div class="d-flex align-items-center flex-shrink-0 me-3">
                                        <div class="avatar avatar-xl me-3 bg-gray-200"><img
                                                class="avatar-img img-fluid"
                                                th:src="${comment.getUser().getImgAdress()}"
                                                alt=""/></div>
                                        <div class="d-flex flex-column fw-bold">
                                            <a class="text-dark line-height-normal mb-1"
                                               th:text="${comment.getUser().getName()}"></a>
                                            <div class="small text-muted line-height-normal"
                                                 th:text="${comment.getUser().getGroup().getName()}"></div>
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 150px" th:text="${comment.getDateGerman()}"></td>
                                <td>
                                    <div class="d-flex align-items-start">
                                        <p th:text="${comment.getText()}"></p>
                                    </div>
                                </td>

                            </tr>

                            <tr>

                                <td style="width: 250px">
                                    <div class="d-flex align-items-center flex-shrink-0 me-3">
                                        <div class="avatar avatar-xl me-3 bg-gray-200"><img
                                                class="avatar-img img-fluid"
                                                th:src="${currentUser.getImgAdress()}"
                                                alt=""/></div>
                                        <div class="d-flex flex-column fw-bold">
                                            <a class="text-dark line-height-normal mb-1"
                                               th:text="${currentUser.getName()}"></a>
                                            <div class="small text-muted line-height-normal"
                                                 th:text="${currentUser.getGroup().getName()}"></div>
                                        </div>
                                    </div>
                                </td>
                                <td colspan="2">
                                    <form th:action="@{/dc/protocol/comment/create}" method="post">

                                        <input name="uuid" class="d-none" th:value="${protocol.getUUID()}">

                                        <div class="input-group">
                                            <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
                                            <button class="btn btn-primary mdi mdi-content-save"></button>
                                        </div>

                                    </form>
                                </td>

                            </tr>

                            </tbody>

                        </table>

                    </div>
                </div>


            </div>
        </main>

        <footer th:insert="fragments_new :: footer"></footer>
    </div>
</div>
<div th:insert="fragments_new :: script"></div>
</body>

<form th:method="post" th:action="@{/dc/protocol/element/create}" enctype="multipart/form-data" class="was-validated">
    <input name="uuid" style="display: none" th:value="${protocol.getUUID()}">
    <div class="modal fade" id="element">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content ">

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="text-center">

                        <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
                        <lord-icon
                                src="https://cdn.lordicon.com/xzksbhzh.json"
                                trigger="loop"
                                delay="4000"
                                style="width:100px;height:100px">
                        </lord-icon>
                        <h4>Element erstellen</h4>
                        <h6>Erstelle eine Subline</h6>
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control mb-3" placeholder="Überschrift" name="headline" required>

                        <select type="text" class="form-control mb-3" placeholder="Hintergrund" name="background" required>
                            <option value="bg-primary">Blau</option>
                            <option value="bg-secondary">Violet</option>
                            <option value="bg-success">Grün</option>
                            <option value="bg-danger">Rot</option>
                            <option value="bg-warning">Orange</option>
                            <option value="bg-info">Cyan</option>
                            <option value="bg-light">Hellgrau</option>
                            <option value="bg-dark">Dunkelgrau</option>
                            <option value="bg-white">Weiß</option>
                            <option value="bg-yellow">Gelb</option>
                            <option value="bg-indigo">Aktivblau</option>
                            <option value="bg-pink">Pink</option>
                        </select>
                        <input type="text" class="form-control mb-3" placeholder="Icon" name="icon" required>
                        <textarea name="text" id="text" class="editor"></textarea>

                    </div>

                    <div class="d-flex">

                        <button type="button" class="btn btn-black btn-block flex-fill m-1" data-bs-dismiss="modal">
                            Schließen
                        </button>

                        <button type="submit" class="btn btn-success btn-block flex-fill m-1">
                            Speichern
                        </button>

                    </div>
                </div>
            </div>


        </div>
    </div>
</form>

<form th:method="post" th:action="@{/dc/protocol/description/save}" enctype="multipart/form-data" class="was-validated">
    <input name="uuid" style="display: none" th:value="${protocol.getUUID()}">
    <div class="modal fade" id="description">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="text-center">

                        <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
                        <lord-icon
                                src="https://cdn.lordicon.com/xzksbhzh.json"
                                trigger="loop"
                                delay="4000"
                                style="width:100px;height:100px">
                        </lord-icon>
                        <h4>Beschreibung bearbeiten</h4>
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control mb-3" placeholder="Überschrift" name="title" required th:value="${protocol.getRequest_name()}">
                        <textarea name="description" id="myTextarea" class="editor" th:text="${protocol.getDescription()}"></textarea>
                    </div>

                    <div class="d-flex">

                        <button type="button" class="btn btn-black btn-block flex-fill m-1" data-bs-dismiss="modal">
                            Schließen
                        </button>

                        <button type="submit" class="btn btn-success btn-block flex-fill m-1">
                            Speichern
                        </button>

                    </div>
                </div>
            </div>


        </div>
    </div>
</form>


<!-- The Delete Modal -->
<div class="modal fade" id="delete">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">
                <div class="text-center">

                    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                    <lord-icon
                            src="https://cdn.lordicon.com/inrunzby.json"
                            trigger="loop"
                            delay="4000"
                            colors="primary:#ffc738,secondary:#ffffff"
                            style="width:100px;height:100px">
                    </lord-icon>
                    <h4>Protokoll löschen</h4>
                    <h6>Bist du sicher, dass du dieses Protokoll löschen möchtest?</h6>
                    <div class="d-flex">

                        <button type="button" class="btn btn-dark  flex-fill m-1" data-bs-dismiss="modal">
                            Abbrechen
                        </button>
                        <a type="button" class="btn btn-danger  flex-fill m-1"
                           th:href="'/dc/protocol/delete?uuid=' + ${protocol.getUUID()}">Löschen</a>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="https://cdn.tiny.cloud/1/44niyaud64mk77to8lx6omg5qw6wbnhn8kjue3tb4brqdps4/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
<script>

    document.getElementById("description_text").innerHTML = document.getElementById("description_text").innerText;

    const collection = document.getElementsByClassName("html");
    for (let i = 0; i < collection.length; i++) {
        collection[i].innerHTML = collection[i].innerText;
    }

    tinymce.init({
        selector: 'textarea.editor',
        plugins: 'image table media',
        toolbar: 'image table tableofcontents',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
    });

    // Prevent Bootstrap dialog from blocking focusin
    document.addEventListener('focusin', (e) => {
        if (e.target.closest(".tox-tinymce-aux, .moxman-window, .tam-assetmanager-root") !== null) {
            e.stopImmediatePropagation();
        }
    });

    setTimeout(function () {
        document.getElementById("content").classList.remove("d-none");
        document.getElementById("load").classList.add("d-none");
    }, 5);


</script>