<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="fragments :: html_head"></head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<br>

<div class="container">

    <div th:class="${alertClass}" th:if="${showAlert}">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong th:text="${alertText}"></strong>
    </div>
    <br>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">Home
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">User
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                    role="tab" aria-controls="contact" aria-selected="false">User anlegen
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="toggle-tab" data-bs-toggle="tab" data-bs-target="#toggle" type="button"
                    role="tab" aria-controls="toggle" aria-selected="false">Toggles
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="card card-body">

                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" th:checked="${toggle_enable_publicForm.getValueB()}">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                </div>

            </div>


        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            <div class="card card-body">
                <select class="form-select" onchange="loadUser(this);" style="margin-bottom: 10px" required>
                    <option></option>
                    <option th:each="user:${users}" th:value="${user.getAdminString()}"
                            th:text="${user.getUsername()}"></option>
                </select>
                <br/>
                <form th:action="@{/admin/saveUser}" th:method="post">
                    <div class="input-group" style="margin-bottom: 10px">
                        <span class="input-group-text mdi mdi-server"></span>
                        <input type="text" class="form-control bg-white" placeholder="UUID" readonly id="t_uuid"
                               name="t_uuid">
                    </div>

                    <div class="input-group" style="margin-bottom: 10px">
                        <span class="input-group-text mdi mdi-account"></span>
                        <input type="text" class="form-control bg-white" placeholder="Username" id="t_username"
                               name="t_username" required>
                    </div>

                    <div class="input-group" style="margin-bottom: 10px">
                        <span class="input-group-text mdi mdi-account-injury"></span>
                        <input type="text" class="form-control bg-white" placeholder="Vorname" id="t_firstname"
                               name="t_firstname" required>
                        <input type="text" class="form-control bg-white" placeholder="Nachname" id="t_lastname"
                               name="t_lastname" required>
                    </div>

                    <div class="input-group" style="margin-bottom: 10px">
                        <span class="input-group-text mdi mdi-shield-key"></span>
                        <input type="password" class="form-control bg-white" placeholder="Password" id="t_password"
                               name="t_password" required>
                    </div>

                    <div class="input-group" style="margin-bottom: 10px">
                        <span class="input-group-text mdi mdi-email"></span>
                        <input type="text" class="form-control bg-white" placeholder="E-Mail-Adresse" id="t_email"
                               name="t_email" required>
                    </div>

                    <div class="input-group" style="margin-bottom: 10px">
                        <span class="input-group-text mdi mdi-account-group"></span>
                        <select type="text" list="t_group_l" class="form-control bg-white" id="t_group" name="t_group"
                                required>
                            <option></option>
                            <option th:each="group:${groups}" th:text="${group.toString()}"
                                    th:value="${group.toString()}"></option>
                        </select>
                    </div>

                    <button class="btn btn-primary" id="submit" type="submit">Speichern</button>
                </form>
            </div>

        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="card card-body">
                <form th:action="@{/admin/saveUser}" th:method="post">
                    <div class="input-group" style="margin-bottom: 10px">
                        <span class="input-group-text mdi mdi-server"></span>
                        <input type="text" class="form-control bg-white" placeholder="UUID" readonly
                               th:value="${random}"
                               name="t_uuid">
                    </div>

                    <div class="input-group" style="margin-bottom: 10px">
                        <span class="input-group-text mdi mdi-account"></span>
                        <input type="text" class="form-control bg-white" placeholder="Username"
                               name="t_username">
                    </div>

                    <div class="input-group" style="margin-bottom: 10px">
                        <span class="input-group-text mdi mdi-account-injury"></span>
                        <input type="text" class="form-control bg-white" placeholder="Vorname"
                               name="t_firstname">
                        <input type="text" class="form-control bg-white" placeholder="Nachname"
                               name="t_lastname">
                    </div>

                    <div class="input-group" style="margin-bottom: 10px">
                        <span class="input-group-text mdi mdi-shield-key"></span>
                        <input type="password" class="form-control bg-white" placeholder="Password"
                               name="t_password">
                    </div>

                    <div class="input-group" style="margin-bottom: 10px">
                        <span class="input-group-text mdi mdi-email"></span>
                        <input type="text" class="form-control bg-white" placeholder="E-Mail-Adresse"
                               name="t_email">
                    </div>

                    <div class="input-group" style="margin-bottom: 10px">
                        <span class="input-group-text mdi mdi-account-group"></span>
                        <select type="text" list="t_group_l" class="form-control bg-white" name="t_group"
                                >
                            <option></option>
                            <option th:each="group:${groups}" th:text="${group.toString()}"
                                    th:value="${group.toString()}"></option>
                        </select>
                    </div>

                    <button class="btn btn-primary" type="submit" >Speichern</button>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="toggle" role="tabpanel" aria-labelledby="toggle-tab">
            <div class="card card-body">


                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="to:${toggles}">
                        <td th:text="${to.getName()}"></td>
                        <td th:text="${to.getValue()}"></td>
                        <td th:text="${to.getType()}"></td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>


</div>


</body>

<script>

    $(document).ready(function () {

        swap(false);

    });

    function loadUser(sel) {
        const myArray = sel.value.split("/");

        let uuid = myArray[0];
        let username = myArray[1];
        let password = myArray[2];
        let email = myArray[3];
        let userGroup = myArray[4];
        let firstname = myArray[5];
        let lastname = myArray[6];

        if(uuid ===""){
            swap(false);

            $("#t_uuid").val("");
            $("#t_username").val("");
            $("#t_password").val("");
            $("#t_email").val("");
            $("#t_group").val("");
            $("#t_firstname").val("");
            $("#t_lastname").val("");

            return;
        }

        $("#t_uuid").val(uuid);
        $("#t_username").val(username);
        $("#t_password").val(password);
        $("#t_email").val(email);
        $("#t_group").val(userGroup);
        $("#t_firstname").val(firstname);
        $("#t_lastname").val(lastname);

        swap(true);

    }

    function swap(v1){
        propRequiered("#t_username",v1);
        propRequiered("#t_password",v1);
        propRequiered("#t_email",v1);
        propRequiered("#t_group",v1);
        propRequiered("#t_firstname",v1);
        propRequiered("#t_lastname",v1);

        document.querySelector("#submit").disabled = !v1;

        propreadOnly("#t_username",!v1);
        propreadOnly("#t_password",!v1);
        propreadOnly("#t_email",!v1);
        propreadOnly("#t_group",!v1);
        propreadOnly("#t_firstname",!v1);
        propreadOnly("#t_lastname",!v1);
    }

    function propRequiered(id, value){
        $(id).prop("required",value);
    }
    function propreadOnly(id, value){
        $(id).prop("readOnly",value);
    }


</script>

</html>
