<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>PR BEL CMS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/import/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/script/imports/jquery.min.js}"></script>
    <script th:src="@{/script/imports/bootstrap.min.js}"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
    <style>

        .fill {
            min-width: 150px;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img th:src="@{/img/Logo_White.png}" style="max-width: 150px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <h1 class="navbar-nav me-auto text-white">
            </h1>
            <form th:action="@{/search}" th:method="post" class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search" name="uuid">
                <button class="btn btn-primary" type="submit"><span class="mdi mdi-book-search"></span></button>
            </form>
        </div>
    </div>
</nav>
<br>

<form th:action="@{/ticket/create/save}" th:method="post">
    <div class="container-fluid row">


        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Nutzer verwalten</h4>
                    <div class="input-group fill" style="margin-bottom: 10px">
                        <span class="input-group-text fill">UUID</span>
                        <input type="text" class="form-control bg-white" placeholder="uuid" name="uuid" readonly
                               th:value="${uuid}">
                    </div>
                    <div class="input-group fill" style="margin-bottom: 10px">
                        <span class="input-group-text fill">Erstellt am</span>
                        <input type="date" class="form-control bg-white" placeholder="Datum" readonly
                               th:value="${currentDate}" name="currentDate">
                    </div>
                    <div class="input-group fill" style="margin-bottom: 10px">
                        <span class="input-group-text fill">Deadline</span>
                        <input type="date" class="form-control" placeholder="deadline" required name="deadline">
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Informationen</h4>
                    <div class="input-group fill" style="margin-bottom: 10px">
                        <span class="input-group-text fill">Name, Vorname</span>
                        <input type="text" class="form-control bg-white" placeholder="Name, Vorname" required
                               name="name" id="i_name">
                        <a class="btn btn-success mdi mdi-account-search" data-bs-toggle="modal"
                           data-bs-target="#myModal"></a>
                    </div>
                    <div class="input-group fill" style="margin-bottom: 10px">
                        <span class="input-group-text fill">Gruppe/Verband</span>
                        <input type="text" class="form-control" placeholder="Gruppe/Verband" required
                               name="association" id="i_association">
                    </div>
                    <div class="input-group fill" style="margin-bottom: 10px">
                        <span class="input-group-text fill">E-Mail</span>
                        <input type="email" class="form-control" placeholder="E-Mail" required name="email" id="i_email">
                    </div>
                    <div class="input-group fill" style="margin-bottom: 10px">
                        <span class="input-group-text fill">Telefon-Nr.</span>
                        <input type="tel" class="form-control" placeholder="Telefon-Nr." required name="phone" id="i_phone">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="card">
                <h4 class="text-center card-header">Aktionen</h4>
                <div class="card-body d-grid">
                    <button class="btn btn-primary btn-block" style="margin-bottom: 10px">Speichern</button>
                    <button class="btn btn-primary btn-block" style="margin-bottom: 10px">Abbrechen</button>
                </div>
            </div>
        </div>

    </div>
</form>
</body>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input class="form-control" list="personDataList" name="browser" id="personData" placeholder="Suche nach Personen">
                    <datalist id="personDataList">
                        <option th:each="person:${persons}" th:value="${person.getSearchString()}">
                    </datalist>
                    <button class="btn btn-success mdi mdi-account-arrow-right" type="submit" onclick="create()" data-bs-dismiss="modal"></button>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script>

    function create() {
        const sel = document.getElementById('personData').value;
        const myArray = sel.split("/");

        let lastname = myArray[0];
        let firstname = myArray[1];
        let association = myArray[2];
        let email = myArray[3];
        let phone = myArray[4];

        $("#i_name").val(lastname + ", " + firstname);
        $("#i_association").val(association);
        $("#i_email").val(email);
        $("#i_phone").val(phone);

    }

</script>

</html>
