<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="fragments :: html_head"></head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<script src="https://cdn.tiny.cloud/1/44niyaud64mk77to8lx6omg5qw6wbnhn8kjue3tb4brqdps4/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<br>

<div class="container-" id="load">

    <div class="card">

        <div class="card-header">
            <section class="text-center">
                <h1>Bitte warten...</h1>
            </section>
        </div>
        <div class="card-body text-center">
            <span class="spinner-border card-img" style="min-height: 200px; min-width: 200px;"></span>
        </div>


    </div>

</div>


<div class="container-fluid d-none" id="content">

<form th:action="@{/public/createTicket/save}" th:method="post">
    <div class="row">


        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Nutzer verwalten</h4>
                    <div class="input-group fill" style="margin-bottom: 10px">
                        <span class="input-group-text fill">Deadline</span>
                        <input type="date" class="form-control" placeholder="deadline" required name="deadline">
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Informationen</h4>
                    <div class="input-group fill" style="margin-bottom: 10px">
                        <span class="input-group-text fill">Name, Vorname</span>
                        <input type="text" class="form-control bg-white" placeholder="Nachname" required
                               name="lastname" id="i_lastname">
                        <input type="text" class="form-control bg-white" placeholder="Vorname" required
                               name="firstname" id="i_firstname">

                        <a class="btn btn-success mdi mdi-account-search" data-bs-toggle="modal"
                           data-bs-target="#myModal"></a>
                    </div>
                    <div class="input-group fill" style="margin-bottom: 10px">
                        <span class="input-group-text fill">Gruppe/Verband</span>
                        <input type="text" class="form-control" placeholder="Gruppe/Verband" required
                               name="association" id="i_association">
                    </div>
                    <div class="input-group fill" style="margin-bottom: 10px">
                        <span class="input-group-text fill">E-Mail</span>
                        <input type="email" class="form-control" placeholder="E-Mail" required name="email" id="i_email">
                    </div>
                    <div class="input-group fill" style="margin-bottom: 10px">
                        <span class="input-group-text fill">Telefon-Nr.</span>
                        <input type="tel" class="form-control" placeholder="Telefon-Nr." required name="phone" id="i_phone">
                    </div>
                </div>
            </div>
            <br/>
            <br>
            <textarea name="text" id="myTextarea">Text hier eingeben</textarea>
        </div>

        <div class="col-lg-2">
            <div class="card">
                <h4 class="text-center card-header">Aktionen</h4>
                <div class="card-body d-grid">
                    <button class="btn btn-primary btn-block" type="submit" style="margin-bottom: 10px">Speichern</button>
                    <button class="btn btn-primary btn-block" type="reset" style="margin-bottom: 10px">Abbrechen</button>
                </div>
            </div>
        </div>

    </div>
</form>
</div>
</body>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input class="form-control" list="personDataList" name="browser" id="personData" placeholder="Suche nach Personen">
                    <datalist id="personDataList">
                        <option th:each="person:${persons}" th:value="${person.getSearchString()}">
                    </datalist>
                    <button class="btn btn-success mdi mdi-account-arrow-right" type="submit" onclick="create()" data-bs-dismiss="modal"></button>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script>

    tinymce.init({
        selector: 'textarea',
        plugins: 'advcode casechange formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents ',
        toolbar: 'image editimage table tableofcontents',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
    });
    setTimeout(function () {
        document.getElementById("content").classList.remove("d-none");
        document.getElementById("load").classList.add("d-none");
    }, 200);

    function create() {
        const sel = document.getElementById('personData').value;
        const myArray = sel.split("/");

        let lastname = myArray[0];
        let firstname = myArray[1];
        let association = myArray[2];
        let email = myArray[3];
        let phone = myArray[4];

        $("#i_firstname").val(firstname);
        $("#i_lastname").val(lastname);
        $("#i_association").val(association);
        $("#i_email").val(email);
        $("#i_phone").val(phone);

    }

</script>

</html>
