<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="fragments_new :: html_head"></head>
<body class="nav-fixed">
<nav th:insert="fragments_new :: topnav"></nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav" th:insert="fragments_new :: sidbar"></div>
        <div id="layoutSidenav_content">
            <main>
                <header class="page-header page-header-dark bg-red pb-10" th:unless="${user.isEnabled()}">
                    <div class="container-xl px-4">
                        <div class="page-header-content pt-4">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-auto mt-4">
                                    <h1 class="page-header-title">
                                        <div class="page-header-icon"><i data-feather="activity" class="text-white"></i></div>
                                        MS der Pfarrei Bellheim
                                    </h1>
                                    <div class="page-header-subtitle text-white">Herzlich willkommen, <span th:text="${user.getFirstname()}"></span> :)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <header class="page-header page-header-dark bg-green pb-10" th:if="${user.isEnabled()}">
                    <div class="container-xl px-4">
                        <div class="page-header-content pt-4">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-auto mt-4">
                                    <h1 class="page-header-title">
                                        <div class="page-header-icon"><i data-feather="activity" class="text-white"></i></div>
                                        MS der Pfarrei Bellheim
                                    </h1>
                                    <div class="page-header-subtitle text-white">Herzlich willkommen, <span th:text="${user.getFirstname()}"></span> :)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Main page content-->

                <div class="container-xl px-4 mt-n10"th:unless="${user.isEnabled()}">
                    <div class="row">
                        <div class="col-xxl-4 col-xl-12 mb-4">
                            <div class="card h-100" style="height: 100%!important;">
                                <div class="card-body h-100 p-5">
                                    <div class="row align-items-center">
                                        <div class="col-xl-8 col-xxl-12">
                                            <div class="text-center text-xl-start text-xxl-center mb-4 mb-xl-0 mb-xxl-4">
                                                <h1 class="text-primary">Willkommen im PR MS</h1>
                                                <p class="text-gray-700 mb-0">Die Collaborations-Plattform der Pfarrei Bellheim!</p>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-xxl-12 text-center">
                                            <img class="img-fluid"
                                                 th:src="@{/dist/assets/img/illustrations/at-work.svg}" style="max-width: 26rem" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-8 col-xl-6 mb-4">
                            <div class="card h-100">
                                <div class="card-body">
                                   <h1>Du bist noch nicht freigeschaltet.<br> Bitte habe noch etwas gedult.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-xl px-4 mt-n10" th:if="${user.isEnabled()}">
                    <div class="row mb-2">
                        <div class="col-xxl-4 col-xl-12 mb-2" th:if="${user.userHasPermission('cms')}">
                            <div class="card h-100">
                                <div class="card-header">CMS - Unser Team</div>
                                <div class="card-body">
                                    <!-- Item 1-->
                                    <div class="d-flex align-items-center justify-content-between mb-4" th:each="userT:${team}">
                                        <div class="d-flex align-items-center flex-shrink-0 me-3">
                                            <div class="avatar avatar-xl me-3 bg-gray-200"><img class="avatar-img img-fluid"
                                                                                                th:src="${userT.getImgAdress()}" alt="" /></div>
                                            <div class="d-flex flex-column fw-bold">
                                                <div class="text-dark line-height-normal mb-1" th:text="${userT.getName()}"></div>
                                                <div class="small text-muted line-height-normal" th:text="${userT.getGroup().getName()}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xxl-4 col-xl-6 mb-2">
                            <div class="card h-100">
                                <div class="card-header">Information</div>
                                <div class="card-body text-center">
                                    <img src="https://messdiener-knittelsheim.de/wp-content/uploads/2022/08/john-towner-JgOeRuGD_Y4-unsplash-scaled.jpg"
                                         class="card-img mb-2" style="max-height: 200px!important;">
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-6 mb-2">
                            <div class="card h-100">
                                <div class="card-header">Information</div>
                                <div class="card-body text-center">
                                    <img src="https://messdiener-knittelsheim.de/wp-content/uploads/2022/08/john-towner-JgOeRuGD_Y4-unsplash-scaled.jpg"
                                         class="card-img mb-2" style="max-height: 200px!important;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-xxl-4 col-xl-12 mb-4 h-100" th:if="${user.userHasPermission('cms')}">
                            <div class="card card-header-actions">
                                <div class="card-header">
                                    CMS - Deine Aufgaben
                                    <div class="dropdown no-caret">
                                        <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="text-gray-500" data-feather="more-vertical"></i></button>
                                        <div class="dropdown-menu dropdown-menu-end animated--fade-in-up" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="/tickets">
                                                <div class="dropdown-item-icon"><i class="text-gray-500" data-feather="list"></i></div>
                                                Tickets verwalten
                                            </a>
                                            <a class="dropdown-item" href="/ticket/create">
                                                <div class="dropdown-item-icon"><i class="text-gray-500" data-feather="plus-circle"></i></div>
                                                Ticket erstellen
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="small">
                                        Offene Tickets
                                        <span class="float-end fw-bold" th:text="${summery.getOpen()} + ' Tickets'"></span>
                                    </h4>
                                    <div class="progress mb-4"><div class="progress-bar bg-danger" role="progressbar"
                                                                    th:style="'width:' + ${summery.openPercentage()} + '%'"
                                                                    th:aria-valuenow="${summery.openPercentage()}"
                                                                    aria-valuemin="0" aria-valuemax="100"></div></div>
                                    <h4 class="small">
                                        Tickets zum Korrigieren
                                        <span class="float-end fw-bold" th:text="${summery.getLecture()} + ' Tickets'"></span>
                                    </h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-warning" role="progressbar" th:style="'width:' + ${summery.lecturePercentage()} + '%'"
                                             th:aria-valuenow="${summery.lecturePercentage()}"
                                             aria-valuemin="0" aria-valuemax="100"></div></div>
                                    <h4 class="small">
                                        Tickets zum Veröffentlichen
                                        <span class="float-end fw-bold" th:text="${summery.getWaitingForPublication()} + ' Tickets'"></span>
                                    </h4>
                                    <div class="progress mb-4"><div class="progress-bar bg-primary" role="progressbar"
                                                                    th:style="'width:' + ${summery.awaitingPercentage()} + '%'"
                                                                    th:aria-valuenow="${summery.awaitingPercentage()}"
                                                                    aria-valuemin="0" aria-valuemax="100"></div></div>
                                    <h4 class="small">
                                        Veröffentlichte Tickets
                                        <span class="float-end fw-bold" th:text="${summery.getClosed()} + ' Tickets'"></span>
                                    </h4>
                                    <div class="progress mb-4"><div class="progress-bar bg-success" role="progressbar"
                                                                    th:style="'width:' + ${summery.closedPercentage()} + '%'"
                                                                    th:aria-valuenow="${summery.closedPercentage()}"
                                                                    aria-valuemin="0" aria-valuemax="100"></div></div>
                                </div>
                                <div class="card-footer position-relative">
                                    <div class="d-flex align-items-center justify-content-between small text-body">
                                        <a class="stretched-link text-body" href="/taskCenter">Zum Task Center <span class="mdi mdi-arrow-right"></span></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-8 col-xl-12 ">
                            <div class="card h-100">
                                <div class="card-header">CMS - Unser Team</div>
                                <div class="card-body"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer th:insert="fragments_new :: footer"></footer>
        </div>
    </div>
    <div th:insert="fragments_new :: script"></div>
</body>
</html>
