<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="fragments :: html_head_index"></head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<br>

<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a href="/ticket/jobs?state=OPEN"
                   class="list-group-item d-flex justify-content-between align-items-center">
                    <span><span class="mdi mdi-clock-edit"></span> Offene Tickets</span>
                    <span></span>
                    <span class="badge bg-secondary rounded-pill" th:text="${open_tickets}"></span>
                </a>
                <a href="/ticket/jobs?state=all"
                   class="list-group-item d-flex justify-content-between align-items-center">
                    <span><span class="mdi mdi-glasses"></span> Lektoriat</span>
                    <span></span>
                    <span class="badge bg-secondary rounded-pill" th:text="${open_tickets_corrector}"></span>
                </a>
                <a href="/tickets" class="list-group-item d-flex justify-content-between align-items-center">
                    <span><span class="mdi mdi-book-information-variant"></span> Alle Tickets</span>
                    <span></span>
                    <span class="badge bg-secondary rounded-pill" th:text="${allTickets}"></span>
                </a>

                <a href="/ticket/create" class="list-group-item" th:if="${user.getGroup().toString()} == 'ADMIN'">
                    <span><span class="mdi mdi-book-plus"></span> Ticket anlegen</span>
                </a>

                <a href="#" class="list-group-item">
                    <span><span class="mdi mdi-account-search"></span> Kontaktverzeichnis</span>
                </a>
                <a href="/admin?state=new" class="list-group-item" th:if="${user.getGroup().toString()} == 'ADMIN'">
                    <span><span class="mdi mdi-security"></span> Adminportal</span>
                </a>
                <a href="#" class="list-group-item" th:unless="${user.getGroup().toString()} == 'ADMIN'">
                    <br/>
                </a>
            </div>
        </div>
    </nav>
    <!-- Sidebar -->
</header>

<main>

    <div class="container-fluid">

        <div class="card bg-success text-white">
            <div class="card-body d-flex justify-content-between">
                <div class="p-2">
                    <h1>Hallo <span th:text="${user.getFirstname()}"/>, <br>Herzlich Willkommen im CMS <br>der Pfarrei
                        Hl. Hildegard von Bingen</h1>
                </div>
                <span class="p-2"></span>
                <div class="p-2">
                    <img th:src="@{/img/Hildegard.png}" style="max-width: 170px;">
                </div>
            </div>
        </div>

        <br>

        <div class="row d-flex">

            <div class="col">
                <div class="card" style="margin-bottom: 10px">
                    <div class="card-body" style="background-color: #f5f5f5!important;">
                        <b><span style="font-size: 30px" class="text-danger" th:text="${summery.getOpen()}"></span></b>
                        <br>
                        <span>Tickets Offen</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="margin-bottom: 10px">
                    <div class="card-body" style="background-color: #f5f5f5!important;">
                        <b><span style="font-size: 30px" class="text-danger" th:text="${summery.getCorrection()}"></span></b>
                        <br>
                        <span>Tickets im Lektoriat</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="margin-bottom: 10px">
                    <div class="card-body" style="background-color: #f5f5f5!important;">
                        <b><span style="font-size: 30px" class="text-danger" th:text="${summery.getGlobal()}"></span></b>
                        <br>
                        <span>Tickets im System</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="margin-bottom: 10px">
                    <div class="card-body" style="background-color: #f5f5f5!important;">
                        <b><span style="font-size: 30px" class="text-danger" th:text="${summery.publication}"></span></b>
                        <br>
                        <span>Veröffentlichte Tickets</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="margin-bottom: 10px">
                    <div class="card-body" style="background-color: #f5f5f5!important;">
                        <b><span style="font-size: 30px" class="text-danger" th:text="${summery.getWaiting()}"></span></b>
                        <br>
                        <span>Wartende Tickets</span>
                    </div>
                </div>
            </div>

        </div>
        <br>


        <div class="row">

            <div class="col">

                <h3>Deine Aufgaben (<span th:text="${tasks.size()}"></span>)</h3>
                <div class="list-group">
                    <a th:href="'/ticket/edit?uuid=' + ${ticket.getUUID()}" class="list-group-item list-group-item-action" aria-current="true" th:each="ticket:${tasks}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1" th:text="${ticket.getName()}"></h5>
                            <small th:text="${ticket.getDates().getGermanDate_DEADLINE()}"></small>
                        </div>
                        <p class="mb-1">

                            <span th:class="${ticket.getTicketState().getIcon()}"
                                  th:text="' ' + ${ticket.getTicketState().getName()}"></span>


                        </p>
                        <!--<small>And some small print.</small> -->
                    </a>
                </div>

            </div>
            <div class="col"></div>
        </div>

    </div>
    <br/>
</main>
</body>
</html>
