<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="fragments :: html_head"></head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<br>

<div class="container-fluid">

    <div class="row">

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Allgemeine Informationen</h4>
                    <div class="input-group fill" style="margin-bottom: 10px">
                        <span class="input-group-text fill">UUID</span>
                        <input type="text" class="form-control bg-white" placeholder="uuid" readonly th:value="${ticket.getUUID()}">
                    </div>
                    <div class="input-group fill" style="margin-bottom: 10px">
                        <span class="input-group-text fill">Status</span>
                        <input type="text" class="form-control bg-white" placeholder="Status" readonly th:value="${ticket.getTicketState().name()}">
                    </div>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Angehängte Dateien</h4>
                    <div class="list-group list-group-flush">
                        <a th:each="link:${ticket.getTicketLinks()}" th:href="${link.getLink()}" target="_blank"
                           class="list-group-item list-group-item-action"><span class="mdi mdi-download" style="margin-right: 5px"></span><span th:text="${link.getName()}"></span> </a>
                    </div>
                </div>
            </div><br>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Text</h4>
                    <div id="text" th:text="${ticket.getHTML()}"></div>
                </div>
                <button onclick="update()" id="update" class="invisible">edit</button>
            </div>

            <br/>
        </div>
        <div class="col-lg-2">
            <div class="card">
                <h4 class="text-center card-header">Lektoriat</h4>
                <div class="card-body d-grid">
                    <a th:href="'/ticket/lektoriat/accept?uuid=' + ${ticket.getUUID()}" class="btn btn-primary btn-block text-start" style="margin-bottom: 10px">
                        <span class="mdi mdi-check-circle-outline" style="margin-right: 5px"></span>
                        Genehmigen</a>
                    <button class="btn btn-primary btn-block text-start" style="margin-bottom: 10px" data-bs-toggle="modal" data-bs-target="#changes">
                        <span class="mdi mdi-cancel" style="margin-right: 5px"></span>
                        Vorschlagen / Ablehnen</button>
                </div>
            </div>

        </div>

    </div>

</div>

</body>

<form th:action="@{/ticket/lektoriat/proposeChanges}" th:method="post">
    <div class="modal fade" id="changes">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Vorschlagen / Ablehnen</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p th:text="${ticket.getTicketPerson().getGreeting()}"></p>
                    <textarea class="form-control" rows="8" id="comment" required name="text" placeholder="Vorschläge..."></textarea>
                    <input type="text" th:value="${ticket.getUUID()}" readonly
                           style="max-width: 0; max-height: 0; display: none" name="uuid">
                    <p>Viele Grüße</p>

                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio1" name="type" value="purpose" checked>Vorschlag
                        <label class="form-check-label" for="radio1"></label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio2" name="type" value="reject">Ablehnen
                        <label class="form-check-label" for="radio2"></label>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Senden</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</form>

</html>

<script>


    function update(){
        document.getElementById("text").innerHTML = document.getElementById("text").innerText;
    }

    $(document).ready( function () {
        setTimeout(function () {
            document.getElementById("update").click();
        }, 100);
    });

</script>
