<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>PR BEL CMS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/import/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/script/imports/jquery.min.js}"></script>
    <script th:src="@{/script/imports/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img th:src="@{/img/Logo_White.png}" style="max-width: 150px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <h1 class="navbar-nav me-auto text-white">
            </h1>
            <form th:action="@{/search}" th:method="post" class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search" name="uuid">
                <button class="btn btn-primary" type="submit"><span class="mdi mdi-book-search"></span></button>
            </form>
        </div>
    </div>
</nav>
<br>

<div class="container-fluid">



</div>

</body>
</html>
