<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="fragments_new :: html_head"></head>
<body class="nav-fixed">
<nav th:insert="fragments_new :: topnav"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="fragments_new :: sidbar"></div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                <div class="container px-4">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto mb-3">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="map"></i></div>
                                    Gottesdienste
                                </h1>
                            </div>
                            <div class="col-12 col-xl-auto mb-3">
                                <a class="btn btn-sm btn-light text-primary" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#create">
                                    <i class="me-1" data-feather="plus"></i>
                                    Gottesdienst erstellen
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container px-4">
                <div class="card mb-4" style="min-height: 100%!important;">
                    <div class="card-body text-center" id="load">
                        <span class="spinner-border card-img" style="min-height: 200px; min-width: 200px;"></span>
                    </div>
                    <div class="card-body d-none" id="content" style="overflow-y: scroll">
                        <table id="table_id" class="display"
                               style="min-width: 100%!important; max-width: 100%!important;">
                            <thead>
                            <tr>
                                <td>SORT</td>
                                <th>Datum</th>
                                <th>Ort</th>
                                <th>Typ</th>
                                <th>Eingeteilte Messdiener</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>


                            <tr th:each="event:${events}">
                            <td th:text="${event.getDate()}"></td>
                            <td th:text="${event.getDayDate()}"></td>
                            <td th:text="${event.getoGroup().getName()}"></td>
                            <td th:text="${event.getEventType().getName()}"></td>
                            <td th:text="${event.getPersons()} + ' (' + ${event.getDutyCounter()} + ')'"></td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" th:href="'/worship?uuid=' + ${event.getId()}"><span
                                        class="mdi mdi-book-arrow-right"></span></a>
                            </td>
                        </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer th:insert="fragments_new :: footer"></footer>
    </div>
</div>
<div th:insert="fragments_new :: script"></div>
</body>

<!-- The Modal -->
<div class="modal fade" id="create">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form method="post" action="/worship/create">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="text-center">

                        <script src="https://cdn.lordicon.com/pzdvqjsp.js"></script>
                        <lord-icon
                                src="https://cdn.lordicon.com/xzksbhzh.json"
                                trigger="loop"
                                delay="2000"
                                style="width:100px;height:100px">
                        </lord-icon>
                        <h4>Gottesdienst anlegen</h4>
                        <h6>Hier kannst du einen neuen Gottesdienst anlegen. </h6>

                    </div>

                    <div class="m-2">
                        <div class="form-floating mb-1">
                            <input type="date" class="form-control" id="adress" placeholder="Enter email"
                                   name="date">
                            <label for="adress">Datum</label>
                        </div>
                        <div class="form-floating mb-1">
                            <select type="text" class="form-control" id="birthday" placeholder="Enter email"
                                    name="oGroup">
                                <option th:each="ogroup:${oGroups}" th:value="${ogroup}"
                                        th:text="${ogroup.getName()}"></option>
                            </select>
                            <label for="birthday">Ort</label>
                        </div>
                        <div class="form-floating mb-1">
                            <select type="text" class="form-select" id="bz" placeholder="Enter email" name="eventType">

                                <optgroup label="Gottesdienste">
                                    <option value="WERKTAGSMESSE">Werktagsmesse</option>
                                    <option value="VORABENDMESSE">Vorabendmesse</option>
                                    <option value="GOTTESDIENST">Gottesdienst</option>
                                    <option value="HOCHAMT">Hochamt (Weihrauch, etc.)</option>
                                </optgroup>
                                <optgroup label="Sonstiges">
                                    <option value="THB">Taufe, Hochzeit, Beerdigung, etc.</option>
                                    <option value="WORTGOTTSDIENST">Wortgottesdienst</option>
                                </optgroup>
                                <optgroup label="Ohne Messdiener">
                                    <option value="OHNE">Ohne Messdiener</option>
                                </optgroup>
                            </select>
                            <label for="bz">Bezeichnung</label>
                        </div>

                    </div>
                    <div class="d-flex">

                        <button type="button" class="btn btn-secondary btn-block flex-fill m-1" data-bs-dismiss="modal">
                            Abbrechen
                        </button>
                        <button type="submit" class="btn btn-success btn-block flex-fill m-1">Speichern</button>

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

</html>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable({
            language: {
                "decimal": ",",
                "thousands": ".",
                "infoPostFix": "",
                "infoFiltered": "(gefiltert aus insgesamt _MAX_ Einträgen)",
                "loadingRecords": "Bitte warten Sie - Daten werden geladen ...",
                "lengthMenu": "Anzeigen von _MENU_ Einträgen",
                "paginate": {
                    "first": "Erste",
                    "last": "Letzte",
                    "next": "Nächste",
                    "previous": "Zurück"
                },
                "processing": "Verarbeitung läuft ...",
                "search": "Suche:",
                "searchPlaceholder": "Suchbegriff",
                "zeroRecords": "Keine Daten! Bitte ändern Sie Ihren Suchbegriff.",
                "emptyTable": "Keine Einträge zum Anzeigen vorhanden",
                "aria": {
                    "sortAscending": ": aktivieren, um Spalte aufsteigend zu sortieren",
                    "sortDescending": ": aktivieren, um Spalte absteigend zu sortieren"
                },
                "info": "Zeigt _START_ bis _END_  von _TOTAL_ Einträgen",
                "infoEmpty": "Keine Einträge zum Anzeigen vorhanden",
                "select": {
                    "rows": {
                        _: '%d Zeilen ausgewählt',
                        0: 'Zeile anklicken um auszuwählen',
                        1: 'Eine Zeile ausgewählt'
                    }
                }
            },
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false,

                },
                {
                    "targets": [5],
                    "className": 'dt-body-right'
                }

            ],
            responsive: true
        });
        setTimeout(function () {
            document.getElementById("content").classList.remove("d-none");
            document.getElementById("load").classList.add("d-none");
        }, 10);
    });
</script>
